

.top_header{
    color: #002358;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.sub_header{
    font-size: 17px;
    font-weight: 500;
    color: #002358;
    margin-bottom: 32px;
}

.input-container {
    position: relative; 
    width: 400px;
  }
  
  /* Search input styling */
  .searchInput {
    width: 100%; 
    border-radius: 35px;
    height: 53px;
    padding-left: 45px; 
    padding-right: 45px; 
    border: 2px solid #5A79A5;
    box-sizing: border-box; 
  }
  
  
  .input-icon-left {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-63%); /* Center icon vertically */
    color: #5A79A5;
  }
  
  /* Positioning the right icon (search icon) */
  .input-icon-right {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-59%); 
    font-size: 20px;
    color: #5A79A5;
  }
  

  .search-bar {
    display: flex;
    justify-content: center;
  }


  .searchInput:focus {
    border-color: #5A79A5; 
    outline: none; 
  }


 .th_color {
    color: #002358;
  }

  .table td {
    color: #002358;
    font-weight: 500;
  }


  .page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: 18px;
    color: var(--bs-pagination-color);
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: 12px;
}


.page-item.disabled  .page-link{
    background-color: gray; 
    color: white; 
    pointer-events: none; 
    opacity: 0.6; 
}

.filterTradeVolumeLabel {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #002358;
}

.sidebar_logo{
    width: 89%;
}